/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #EEF4FF;
}



